body {
    background: #f1f1f1f5; 
    line-height: 2; 
  }

/* Navbar padding, background colour and text colour */
.navbar {
    padding: inherit;
    background: white;
    /*max-height: 60px;*/
    color: black;
  }

/* Navbar title text colour */
.navbar-light .navbar-brand {
    color: white;
  }
  
/* Navbar title properties */
.navbar-brand {
    display: inline-block;
    cursor: pointer;
    background: #0BADA6;
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    margin-left: 30px;
  }

/* Navbar list font style and colour */ 
.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
  }  

/* Navbar active item colour  */
.navbar .nav-item.active {
    background-color: grey;
  }

/* propeties of the box holding the content  */  
.box {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color:black;
    background-color: white; 
  }

/* properties of the titles within the containers  */  
.title {
    color: #0BADA6;
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* used in the visualization pages to align the main picture */  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* used in the visualization pages in the images menu to highlight the image selected */ 
  .img-border {
    border: 3px solid #0BADA6;
  }
  
  /* navbar dropdown menu background colour */
  .nav-item.dropdown.show {
    background-color: lightgrey;
  }

  /* css for small sized screens */
  @media (max-width: 767px){
    /* background colour of the navbar */
    .bg-light {
    background-color: #0BADA6!important;
    }

    /* used in the visualization pages while aligning the last image */
    .centered img {
      width: 28%;   
    }  

    /* used in the visualization pages to align the last image to the middle */
    .centered {
      text-align: center;
    }

    /* backround colour of the navbar items when collapsed */
    .navbar-collapse{
      background-color: lightgrey;
    }

  }
  

